.body{
    margin: auto;
    align-content: center;    
}

.button{
    margin: auto;
    width: 50%;
    display: block;
    text-align: center;
}
.btn{
    width: 50%;
    text-align: center;
    margin: 20px auto;
    display: flex;
    border: 2px solid red;
    border-radius: 50px;
}