#menu{
    padding: 25px;
}

h1{
    font-size: flex;
   text-align: center;
   padding: 0px 50px;
   font-family: 'Roboto', sans-serif;
}
.col-sm-3{
    height: auto;
    align-items: center;
    padding: 5px;
}
p{
    text-align: center;


}
.jumbotron{
    width: flex;
    
}
h3{
    font-size: flex;
    text-align: center;
    padding: 0px 50px;
    font-family: 'Roboto', sans-serif;
}