body{
    background: linear-gradient(180deg, #C111DE -0.52%, #E25CF7 129.57%);
    background-repeat: no-repeat;
    min-height: 495px;
}

*{
    margin: auto;
    align-content: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.logo{
    width: 50%;    
}
.logo1{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.bio{
    margin: 50px;
    text-align: center;
}

.btn{
    background-color: black;
    font-weight: bold;
    width: 50%;
    padding: 30px;
    text-align: center;
    margin: 50px auto;
    display: flex;
    border-radius: 50px;
    box-shadow: 1px 1px 50px #968AF6;
    min-width: 300px;

    
}
a{
    font-size: x-large;
    display: flex;
    color: #968AF6;
    
}